* {
    padding: 0;
    margin: 0;
  }

  body {
      color: #000000;
      background-color: #fcfdfd;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  /* apply styles to <header> */
  .header {
    padding: 10px;
    } 

.header h1 {
    display:inline-block;
    font-size:40px;
    padding-top: 20px;
}

.header nav {
    font-size: 20px;
    padding-top: 50px;
    margin: 10px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 30px;
}

 a {
    text-decoration: none;
    color:#000000;
}

/* apply styles to footer*/
.footer {
    display:flex;
    flex: wrap;
    justify-content: center;
    padding-top:30px;
}


/* apply styles to hero*/
.hero {
    height: 200px;
    background-size: cover;
    background-image: url("/Users/kaysieanderson/Desktop/bootcamp-class/Challenges/Challenge-2/Portfolio/assets/images/backgroundimage.jpg");
}

.about {
    height: 400px;
    width: 100%;
}

.about h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.about div h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* apply styles to about section */

/* apply styles to project section */

.project {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.project h2 {
   
}

.project-content {
    display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
	align-content: space-evenly;
    margin-bottom: 20px;
    padding: 50px;
    height: 200px; 
    background-color: #80bfff;
}
.project-content h4 a {
    font-size:15px;
}

.project-content img {
    max-height: 200px;
    
}

/* apply styles to contact section */
.contact h2 {
    display: flex;
    flex: wrap;
    justify-content: center;
    padding-top:100px;
    padding-bottom:30px;
}

.contact form {
    display: flex;
    flex-direction: column;
    flex: wrap;
    align-items: center;
    padding-bottom:30px;

}








